* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
    gap: 0;
}

.image-container {
    position: relative;
    height: 100vh;
}

img {
    height: 100%;
}


.image-container p {
    position: absolute;
    bottom: 2%;
    left: 26%;
    color: white;
    font-size: 2vh;
}

.image-container p a:active,
.image-container p a:visited {
    color: white;
}

form {
    width: 900px;
    display: flex;
    flex-direction: column;
    height: 100vh;
    flex: 1;
}

.form-header, .form-submit {
    background-color: #f7f7f7;
    flex: 2;
}

.form-header {
    flex: 1;
    padding: 100px 80px 45px 35px;
    font-size: 24px;
    font-weight: bold;
}

.form-header p {
    margin-right: 250px;
}

.form-header p:first-child {
    margin-bottom: 20px;
}

.form-main {
    display: flex;
    flex-direction: column;
    padding: 20px 35px;
}

.form-main p {
    font-size: 24px;
    font-weight: bold;
}

.row {
    display: flex;
    margin-top: 25px;
    gap: 60px;
}

.row label {
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.685);
}

.row input {
    display: block;
    padding: 6px 10px;
    width: 250px;
    border: 1px solid #E5E7EB;
    border-radius: 3px;
    font-size: 14px;
    font-weight: bold;
    outline: none;
}

input[type=text]:focus,
input[type=email]:focus,
input[type=tel]:focus {
    border: 1px solid blue;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.301);
}

.form-submit {
    padding: 20px 35px;
}

.submit-button {
    padding: 12px 45px;
    background-color: #596D48;
    color: white;
    font-weight: bold;
    font-size: 15px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 5px;
    margin-bottom: 30px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.301);
}

.form-submit p {
    font-weight: bold;
    font-size: 14px;
}

.form-submit a {
    color: #596D48;
    text-decoration: none;
}